body
{
	/*background: #000 url('/images/background.png') repeat-x;*/
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, Georgia, TIMES;
	font-size: 11px;
	text-align: -moz-center;
	text-align: center;
}
#header
{
	width: 900px;
	margin: 0px auto;
	height: 175px;
	background-image: url('/images/TestHead.jpg');
}
a
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
a:hover
{
	text-decoration: underline;
}
#navigation
{
	float: left;
	width: 800px;
	margin-left: 20px;
	margin-top: 140px;
}
#navigation .navLink
{
	float: left;
	margin: 0px;
	margin-left: 3px;
	width: 100px;
	background-color: #000;
	color: #FFF;
	text-align: -moz-center;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	height: 20px;
	border: 1px #CCC solid;
	-moz-opacity: .7;
	opacity: .7;
	filter: alpha(opacity=70);
}
#navigation a
{
	text-decoration: none;
}
#testTop
{
	margin: 0px auto;
	width: 920px;
	margin-top: 50px;
	padding: 0px;
}
img
{
	margin: 0px;
	border: none;
	padding: 0px;
}
#testBottom
{
	margin: 0px auto;
	width: 920px;
	height: 5px;
}
#loginTable
{
	margin: 0px auto;
	width: 880px;
}
#loginTable td
{
	width: 30%;
}
#loginContainer
{
	width: 920px;
	margin: 0px auto;
	background: #000 url('/images/bodybg.png') repeat-y;
	padding: 0px;
}
#controlbox
{
	background-color: #FFF;
	width: 900px;
	margin: 0px auto;
}
.boxHeader
{
	background-color: #000;
	border-top: 2px #555 solid;
	border-bottom: 2px #555 solid;
	color: #FFF;
	font-size: 15px;
	height: 20px;
	margin: 10px 0px;
	text-align: -moz-center;
	text-align: center;
}
.boxHeader p
{
	height: 20px;
	width: 100%;
	margin: 0px auto;
	font-weight: bold;
}
#footer
{
	width: 850px;
	margin: 0px auto;
	background-color: #DDD;
	border: 2px #000 solid;
}
#leftCol
{	
	height: 100%;
	vertical-align: top;
}
#loginbox
{
	border: 1px #000 solid;
	width: 100%;
}
.tableLabel
{
	font-size: 12px;
	text-align: -moz-right;
	text-align: right;
}
#rightCol
{
	height: 100%;
}
#schoolsearchbox
{
	border: 1px #000 solid;
}
#vendorloginbox
{
	margin-top: 2px;
	border: 1px #000 solid;
}
#midCol
{
	text-align: -moz-center;
	text-align: center;
}